.careers-page {
  width: 100%;
  overflow-x: hidden;
}

.careers-hero {
  background-size:cover;
  background-position: center;
  width: 100vw;
  height: auto;
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(135deg, #333, #bec4b5);
}

.text-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  animation: slideInFromLeft 1.5s ease-out;
}

.text-container button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
}

/* Consulting Section */
.careers-consulting img {
  width: 100%;
  padding: 10px 0px 0px 100px;
  height: auto;
  border-radius: 10px;
}

.career-work{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.career-work-text{
  width: 50%;
  padding: 20px;
}

/* tredje section */
.careersIdea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-left: 18%;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Typography */
@media (min-width: 1600px) and (max-width: 1800px) {
  .careers-consulting{
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {
  .careers-hero{
    height: 20vh !important;  
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .careers-consulting img{
    width: 540px !important;
    padding: 20px 0px 0px 0px !important;
  }

  .career-work-text {
    width: 100%;
    padding: 0px;
  }

  .career-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -60px;
  }
}

@media (max-width: 575.99px) {
  .text-container p{
    padding: 0px 10px;
  }

  .careers-consulting{
    height:58vh;
  }

  .careers-consulting img{
    width: 400px !important;
    padding: 20px 0px 0px 20px !important;
    margin-left: 3%;
  }

  .career-work-text {
    width: 100%;
    padding: 0px;
  }

  .career-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -60px;
  }
}
