.contact-hero {
  padding: 0;
  background-color: #f8f9fa;
  width: 100%;
  min-width: 100vw;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-page {
  animation: slideInFromLeft 1.5s ease-out;
}

.contactS1{
  background: linear-gradient(135deg, #333, #bec4b5);
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

form {
  max-width: 100%;
}

.contact-hero .text-start {
  text-align: start !important;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 8px;
}

.social {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.social-icons .icon {
  font-size: 1.25rem;
  color: #fff;
  background-color: #474342;
  padding: 0.6rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  margin-bottom: 40px;
}

.social-icons .icon:hover {
  background-color: #474342;
  transform: scale(1.1);
}

.form-submit button{
  background-color: #212529 !important;
  border: 1px solid #212529 !important;
}

.map-responsive{  
  height: 200px !important;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* Responsivitet */
@media (max-width: 992px) {
  .contact-hero h2 {
    font-size: 1.75rem;
  }

  .contact-hero p,
  .contact-hero label {
    font-size: 1rem;
  }

  .social-icons .icon {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .social-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .contact-hero h5,
  .contact-hero p {
    text-align: start !important;
  }
}
