.contact-hero {
  padding: 0;
  background-color: #f7f4f0;
  width: 100%;
  min-width: 100vw;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-page {
  animation: slideInFromLeft 1.5s ease-out;
}

.contactS1{
  background: linear-gradient(135deg, #333, #bec4b5);
  width: 100%;
  max-width: 100vw;
  height: 50vh;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
}

form {
  max-width: 100%;
}

.contact-hero .text-start {
  text-align: start !important;
}

.map-responsive {
  overflow: hidden;
  height: 200px !important;
  width: 80vw;
  padding-bottom: 50%;
  position: relative; 
  margin-left: auto;
  margin-right: auto;
}

.map-responsive iframe {
  height: 40%;
  width: 50%;
  position: absolute;
  border-radius: 8px;
  left: 20%;
}

.map-section{
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 60vh;
}

.social {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.social-icons .icon {
  font-size: 1.25rem;
  color: #fff;
  background-color: #474342;
  padding: 0.6rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  margin-bottom: 40px;
}

.social-icons .icon:hover {
  background-color: #474342;
  transform: scale(1.1);
}

.form-submit button{
  background-color: #212529 !important;
  border: 1px solid #212529 !important;
}

.contact-title{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 80px;
}

/* Responsivitet */
@media (min-width: 1400px) and (max-width: 1600px) {

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 60vh !important;
  }

 
  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.99px) {
   .map-section{
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 60vh !important;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 50vh !important;
  }

  .map-responsive iframe {
    height: 40%;
    width: 60%;
    position: absolute;
    border-radius: 8px;
    left: 20%;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  .map-section{
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 50vh !important;
  }

  .map-responsive iframe {
    height: 40%;
    width: 60%;
    position: absolute;
    border-radius: 8px;
    left: 20%;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .contact-hero h2 {
    font-size: 1.75rem;
  }

  .contact-hero p,
  .contact-hero label {
    font-size: 1rem;
  }

  .social-icons .icon {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .map-section{
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 40vh !important;
  }

  .map-responsive iframe {
    height: 50%;
    width: 80%;
    position: absolute;
    border-radius: 8px;
    left: 10%;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.99px) {
  .contact-hero h2 {
    font-size: 1.75rem;
  }

  .contact-hero p,
  .contact-hero label {
    font-size: 1rem;
  }

  .social-icons .icon {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .map-section{
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 40vh !important;
  }

  .map-responsive iframe {
    height: 60%;
    width: 80%;
    position: absolute;
    border-radius: 8px;
    left: 10%;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}
@media (max-width: 575.99px) {
  .contactS1{
    width: 100%;
    max-width: 100vw;
    height: 40vh !important;
  }

  .contact-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
  }

  .contact-page{
    margin-left: 15%;
  }

  .social-icons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .contact-hero h5,
  .contact-hero p {
    text-align: start !important;
  }

  .map-responsive iframe {
    height: 80%;
    width: 100%;
    position: absolute;
    border-radius: 8px;
    left: 10%;
  }

  .contact-info{
    margin-left: 10px;
    margin-top: 15px;
  }

  .form-contact{
    margin-left: 18px;
    margin-top: 15px;
  }
}