.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
  margin-top: 0px;
}

.bt_bb_section {
  margin-top: 40px;
  width: 100%;
}

.background-section {
  position: relative;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  max-height: 700px; 
  padding: 0  !important;
  overflow: hidden; 
}

.background-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
}

.background-section h1,
.background-section p {
  position: relative;
  z-index: 2;
  color: white;
  padding: 0 20px;
}

.background-section h1 {
  font-size: 5.2em;
  line-height: 1.1;
  margin-top: 10%;
}

.background-section p {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 20px;
}

.background-section h1 span {
  display: block;
  margin-top: 5px;
  font-size: 4rem;
  margin-left: 160px;
}

.wave-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}

.service-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(172, 184, 176, 0.449);
  /* color: #69936c;  */
}

.service-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.carts-home{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
}

.text-cart-home{
  text-align:left;
  margin-left: 100px !important;
  margin-top: 50px;
}

.service-content {
  padding: 20px;
}

.service-content h3 {
  font-size: 1.25em;
  margin: 0 0 10px;
}

.service-content a {
  display: inline-block;
  margin-top: 5px;
  font-size: 0.7em;
  color: #38393a;
  text-decoration: none;
  transition: color 0.3s ease;
}

.service-content a:hover {
  color: #69936c;
}

ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-home li::before {
  content: '\2714';
  font-size: 0.7em;
  color: #5f8460;
  margin-right: 10px;
  border: 1px solid #5f8460;
  border-radius: 50%;
  padding: 0px 4px;
}

.text-center {
  text-align: center;
}

.bt_bb_button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ccc;
  background-color: transparent;
  color: #666;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bt_bb_button:hover {
  background-color: #fcfcfc;
  color: #69936c;
  border-color: #69936c;
}

.recruitment-process {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 90px 0px 0px 0px !important;
}

/* .recruitment-process::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4d4e4d;
  background-color: #bec4b5;
  background-color: #f7f4f0;
  clip-path: polygon(0 100%, 100% 20%, 100% 0%, 50% 10%, 0 0%);
  z-index: -1;
} */

.recruitment-process h2 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
}

.recruitment-process p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.process-step {
  text-align: center;
  padding: 20px;
}

.process-icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  margin-left: 20%;
  overflow: hidden;
  border: 3px solid #302d25;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.process-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.process-step:hover .process-icon {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.hero-section {
  position: relative;
  height: 100vh;
  max-height: 600px;
}

.hero-content {
  text-align: center;
  z-index: 1;
  padding: 0 20px;
  width: auto;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 100px;
  color: rgb(39, 37, 37);
  animation: slideInFromLeft 1s ease-out;
}

.hero-content p {
  font-size: 1.2rem;
  color: rgb(17, 17, 17);
  margin-bottom: 30px;
  animation: slideInFromLeft 1.5s ease-out;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: #555;
}

.second-section {
  display: flex;
  justify-content: flex-end; 
  flex-wrap: wrap; 
}

.box {
  width: 45%; 
  margin: 2%;
}

.third-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.third-section .box {
  width: 30%;
  margin: 1%;
}

.hero-section-overlay{
  height: 100%;
  min-height: 600px;
  background-color: #f7f4f0;
  margin-top: -2px;
}

/*Modal Styling*/
.modal-content {
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #ffffff, #f5f5f5);
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  background-color: #f0f0f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-header .modal-title {
  font-weight: 600;
  font-size: 1.8rem;
  color: #333;
}

.modal-body {
  padding: 30px;
}

.modal-body .form-label {
  font-weight: 500;
  color: #444;
}

.modal-body .form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

.modal-body .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal-footer {
  border-top: none;
  justify-content: flex-end;
  padding-top: 0;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #555;
  border-color: #555;
}

input[type="file"]::file-selector-button {
  border: none;
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background: #555;
}

/* boxarna i available positions */
.positions-container {
  padding: 20px;
}

.position-box {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.position-box h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.position-box p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.apply-btn {
  color:  #4c4d4f !important;
  padding: 10px;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #0056b3;
}

.POSITION-HERO{
  color: black !important;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .background-section {
    max-height: 800px !important;
  }

  .hero-content.idea-content h2{
    font-size: 3.5rem;
    margin-top: 200px !important;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .background-section {
    height: 90vh;
    max-height: 900px !important;
  }

  .idea-home-section{
    min-height: 70vh !important;
  }

  .hero-content.idea-content h2{
    font-size: 3rem;
    margin-top: 160px !important;
  }

}

@media (min-width: 1200px) and (max-width: 1399.99px) {
  .background-section {
    max-height: 700px !important;
  }

  .skilled-home{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }

  .text-cart-home{
    text-align:left;
    width: 35vw;
  }

  .hero-content.idea-content h2{
    font-size: 2.8rem;
    margin-top: 100px !important;
  }

  .hero-content.positions-div{
    margin-top: -20px !important;
  }

}

@media (min-width: 992px) and (max-width: 1199.99px) {
  .background-section {
    max-height: 500px !important;
  }

  .text-cart-home{
    text-align:left;
    width: 30vw;
  }

  .text-cart-home h2{
    font-size: 1.5rem;
    width: 400px !important;
  }

  .talent-cart{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
  }

  .wave{
    max-width: none !important;
  }

  .hero-content.idea-content h2{
    font-size: 2.5rem;
    margin-top: 100px !important;
  }

  .hero-content.positions-div{
    margin-top: -20px !important;
  }

} 

@media (min-width: 768px) and (max-width: 991.99px) {
  .background-section {
    max-height: 500px !important;
  }

  .background-section h1 {
    font-size: 3.2em;
    margin-top: 15%;
  }

  .background-section p {
    font-size: 1.2em;
  }

  .service-card {
    min-width: 150px;
    margin: 1% 1%;
  }

  .hero-section {
    max-height: 400px;
  }

  .hero-content button {
    font-size: 0.9rem;
  }

  .text-cart-home{
    text-align:left;
    width: 33vw;
  }

  .text-cart-home h2{
    font-size: 1.2rem;
    width: 400px !important;
  }

  .col-md-5{
    width: 46%;
  }

  .talent-cart{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
  }

  .wave{
    max-width: none !important;
  }

  .positions-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    margin-top: -70px !important;
  }

  .hero-content.idea-content h2{
    font-size: 2.5rem;
    margin-top: 90px !important;
  }

  .hero-content.positions-div{
    margin-top: -20px !important;
  }

}

@media (min-width: 576px) and (max-width: 767.99px) {
  .steps-home{
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 60vw !important;
  }
  
  .background-section {
    max-height: 450px !important;
  }

  .third-section {
    justify-content: center;
  }

  .third-section .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .second-section {
    justify-content: center; 
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-section {
    height: 60vh; 
  }

  .background-section {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .background-section {
    height: 80vh; 
  }

  .background-section h1 {
    font-size: 3.2em;
    margin-top: 15%;
  }

  .background-section p {
    font-size: 1.2em;
  }

  .service-card {
    width: 30%;
    margin: 1% 1%;
  }

  .hero-section {
    max-height: 400px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-content button {
    font-size: 0.9rem;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .service-card {
    margin: 0 5px 20px;
    width: 200px;
  }

  .talent-cart .col-12 {
    text-align: center;
  }

  .text-cart-home{
    text-align:left;
    width: 80vw;
  }

  .talent-cart{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 20px;
  }

  .wave{
    max-width: none !important;
  }

  .col-md-5{
    width:230px;
  }

  .recruitment-process {
    padding: 0px 0px 20px 0px !important;
  }

  .positions-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px;
    margin-top: -80px;
  }

  .hero-content.idea-content h2{
    font-size: 2.5rem;
    margin-top: 90px !important;
  }

}

@media (max-width: 575.99px) {
  .background-section {
    max-height: 450px !important;
  }

  .background-section h1 span{
    font-size: 2.5rem;
    margin-left: 0px;
  }

  .third-section {
    justify-content: center;
  }

  .third-section .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .second-section {
    justify-content: center; 
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }

  .hero-section {
    height: 60vh; 
  }

  .background-section {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .service-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .background-section {
    height: 80vh; 
  }

  .background-section h1 {
    font-size: 3.2em;
    margin-top: 15%;
  }

  .background-section p {
    font-size: 1.2em;
  }

  .service-card {
    width: 48%;
    margin: 1% 1%;
  }

  .hero-section {
    max-height: 400px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-content button {
    font-size: 0.9rem;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .service-card {
    margin: 0 auto 20px;
    width: 300px;
  }

  .talent-cart .col-12 {
    text-align: center;
  }

  .text-cart-home{
    text-align:left;
    width: 80vw;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }

  .talent-cart{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 20px;
  }

  .wave{
    max-width: none !important;
  }

  .recruitment-process {
    padding: 0px 0px 20px 0px !important;
  }

  .idea-home-section{
    max-height: 200px !important;
  }

  .positions-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    margin-left: 13%;
    justify-content: center;
    gap: 2px;
    margin-top: -80px;
    height: 100% !important;
  }

  .overlay{
    height: 100%;
    min-height: 500px;
    background-color: #f7f4f0;
  }

  .hero-section-overlay{
    height: 100%;
    background-color: #f7f4f0;
    min-height: auto !important;
  }

  .position-box {
    width: 60%;
  }

  .position-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px !important;
  }

  .position-box p {
    font-size: 0.9rem;
    margin-bottom: 7px !important;
  }

  .process-step{
    padding-bottom: 0px;
  }

  .process-step.step-3{
    padding-top: 0px !important;
  }

  .process-step.step-2{
    padding-top: 0px !important;
  }

  .idea-content h2{
    font-size: 25px;
    margin-top: 60px !important;
  }

  .hero-content.idea-content h2{
    font-size: 2.2rem;
    margin-top: 70px !important;
  }
}